node-red.txt
[{"id":"1d6cf34d.c99cfd","type":"inject","z":"3d05b58b.907f9a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":440,"wires":[["c7129c70.4543b","51372e08.15785","9cd79850.050538"]]},{"id":"abd8aa1f.7ea008","type":"debug","z":"3d05b58b.907f9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1010,"y":140,"wires":[]},{"id":"cab928a9.cda268","type":"mqtt in","z":"3d05b58b.907f9a","name":"","topic":"python/mqtt/x","qos":"2","datatype":"auto","broker":"de49b8ac.8c6548","nl":false,"rap":true,"rh":0,"x":750,"y":240,"wires":[["abd8aa1f.7ea008","a19a9718.1a0d58"]]},{"id":"c7129c70.4543b","type":"mqtt out","z":"3d05b58b.907f9a","name":"","topic":"python/mqtt/x","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"de49b8ac.8c6548","x":520,"y":320,"wires":[]},{"id":"a19a9718.1a0d58","type":"ui_chart","z":"3d05b58b.907f9a","name":"","group":"b4cb5004.b46f1","order":0,"width":0,"height":0,"label":"chart_x","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":240,"wires":[[]]},{"id":"1b7e258.ea68adb","type":"debug","z":"3d05b58b.907f9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1010,"y":380,"wires":[]},{"id":"5333b2c3.104e5c","type":"mqtt in","z":"3d05b58b.907f9a","name":"","topic":"python/mqtt/y","qos":"2","datatype":"auto","broker":"de49b8ac.8c6548","nl":false,"rap":true,"rh":0,"x":750,"y":440,"wires":[["1b7e258.ea68adb","c461a1d.78c976"]]},{"id":"51372e08.15785","type":"mqtt out","z":"3d05b58b.907f9a","name":"","topic":"python/mqtt/y","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"de49b8ac.8c6548","x":520,"y":440,"wires":[]},{"id":"c461a1d.78c976","type":"ui_chart","z":"3d05b58b.907f9a","name":"","group":"896e8c21.255be","order":0,"width":0,"height":0,"label":"chart_y","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":500,"wires":[[]]},{"id":"4185f5d9.f6c1ec","type":"debug","z":"3d05b58b.907f9a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":1010,"y":620,"wires":[]},{"id":"fa82de47.683a2","type":"mqtt in","z":"3d05b58b.907f9a","name":"","topic":"python/mqtt/z","qos":"2","datatype":"auto","broker":"de49b8ac.8c6548","nl":false,"rap":true,"rh":0,"x":750,"y":620,"wires":[["4185f5d9.f6c1ec","be9ef7b1.d86668"]]},{"id":"9cd79850.050538","type":"mqtt out","z":"3d05b58b.907f9a","name":"","topic":"python/mqtt/z","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"de49b8ac.8c6548","x":520,"y":560,"wires":[]},{"id":"be9ef7b1.d86668","type":"ui_chart","z":"3d05b58b.907f9a","name":"","group":"9facbfdf.45b1d","order":0,"width":0,"height":0,"label":"chart_z","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1000,"y":720,"wires":[[]]},{"id":"de49b8ac.8c6548","type":"mqtt-broker","name":"Mosquitto","broker":"localhost","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"b4cb5004.b46f1","type":"ui_group","name":"accel_x","tab":"9bababa8.4e85f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"896e8c21.255be","type":"ui_group","name":"accel_y","tab":"b2bd8aa5.6575d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9facbfdf.45b1d","type":"ui_group","name":"accel_z","tab":"1e86a8ba.7765e7","order":1,"disp":true,"width":"6","collapse":false},{"id":"9bababa8.4e85f8","type":"ui_tab","name":"Accel_X","icon":"dashboard","disabled":false,"hidden":false},{"id":"b2bd8aa5.6575d8","type":"ui_tab","name":"Accel_Y","icon":"dashboard","disabled":false,"hidden":false},{"id":"1e86a8ba.7765e7","type":"ui_tab","name":"Accel_Z","icon":"dashboard","disabled":false,"hidden":false}]